.portfolio{
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
    padding: 60px 0;
}
.container{
    max-width: 1320px;
}
.section-title{
    padding-bottom: 30px;
}
h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    color: #345676;
}
