<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-filters">
                    <li>ALL</li>
                    <li>APP</li>
                    <li>CARD</li>
                    <li>WEB</li>

                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            
            <div class="col-lg-4 col-md-6 margin-bottom-20">
                <div class="portfolio-wrap">
                    <img src="https://bootstrapmade.com/demo/templates/Lonely/assets/img/portfolio/portfolio-1.jpg"  class="image-fluid">
                    
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 margin-bottom-20">
                <div class="portfolio-wrap">
                    <img src="https://bootstrapmade.com/demo/templates/Lonely/assets/img/portfolio/portfolio-2.jpg" class="image-fluid">
            
                </div>
            </div>

            <div class="col-lg-4 col-md-6 margin-bottom-20">
                <div class="portfolio-wrap">
                    <img src="https://bootstrapmade.com/demo/templates/Lonely/assets/img/portfolio/portfolio-3.jpg" class="image-fluid">
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-bottom-20">
                <div class="portfolio-wrap">
                    <img src="https://bootstrapmade.com/demo/templates/Lonely/assets/img/portfolio/portfolio-4.jpg" class="image-fluid">
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-bottom-20">
                <div class="portfolio-wrap">
                    <img src="https://bootstrapmade.com/demo/templates/Lonely/assets/img/portfolio/portfolio-5.jpg" class="image-fluid">
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 margin-bottom-20">
                <div class="portfolio-wrap">
                    <img src="https://bootstrapmade.com/demo/templates/Lonely/assets/img/portfolio/portfolio-6.jpg" class="image-fluid">
                    
                </div>
            </div>
                      

                </div>
            </div>
   
</section>