<header id="header" class="d-flex align-items-center">
   <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
         <h1>lonely</h1>


      </div>
      <nav id="header" class="navbar">
         <ul>
            <li>
               <a class="nav-link scrollto active" href="#home">Home</a>
            </li>
            <li>
               <a class="nav-link scrollto active" href="#about">About</a>
            </li>
            <li>
               <a class="nav-link" href="#resume">Resume</a>
            </li>
            <li>
               <a class="nav-link" href="#services">Services</a>
            </li>
            <li>
               <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li>
               <a class="nav-link" href="#dropdown">Drop Down</a>
            </li>
            <li>
               <a class="nav-link" href="#contacts">Contact</a>
            </li>
         </ul>
      </nav>
   </div>
</header>
